@using Microsoft.AspNetCore.Components.Web;
@using MagillStore.WebSite.Models
@using MagillStore.WebSite.Services

@inject DatabaseService dbService

<div class="card-columns">
    @foreach (var category in dbService.GetProductCategoryList())
    {
    <div class="card">

        <div class="card-body"><b>@category.ProductCategoryName</b><img border="0" src=@category.ImageUrl style="width:120px;height:120px;"><p></p></div>

        <div class="card-footer">
           <b><a href="@category.Page">View @category.ProductCategoryName</a></b> 
        </div>
    </div>
    }
</div>



@code {
    ProductCategory selectCategory;
    int selectProductCategoryId;
    void SelectCategory(int productCategoryId)
    {
        selectProductCategoryId = productCategoryId;
        selectCategory = dbService.GetProductCategoryList().First(x => x.ProductCategoryId == productCategoryId) ;
    }
}
