@page
@model MagillStore.WebSite.Pages.PhonesModel
@{
}
<div class="text-center">
    <h1 class="display-4"><b>Phones</b></h1>

    <div><img border="0" src="~/images/store.PNG" style="width:900px;height:200px;"></div>

</div>
